body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  background-color: hsl(241, 81%, 54%);
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 2px;
  border-radius: 20px;
  margin: 20px;
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#count {
  font-size: 30px;
  color: white;
  text-align: center;
}

button {
  border-radius: 10px;
  border-color: white;
  font-size: 12px;
  height: 20px;
}

#color {
  height: 50px;
  width: 180px;
  background-color: white;
  margin-top: 35px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#select1{
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 50%;
}

#select2{
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 50%;
}