body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  background-color: hsl(241, 81%, 54%);
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(9, 7, 24, 0.925);
  box-shadow: 7px 7px 7px 7px;
  border-radius: 35px;
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

#count {
  font-size: 40px;
  color: white;
  text-align: center;
}

button {
  border-radius: 12px;
  border-color: white;
  font-size: 13px;
  height: 25px;
}

#color {
  height: 60px;
  width: 220px;
  background-color: white;
  margin-top: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#select1{
    height: 45px;
    width: 45px;
    background-color: aqua;
    border-radius: 50%;
}

#select2{
    height: 45px;
    width: 45px;
    background-color: aqua;
    border-radius: 50%;
}